<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1 class = "question">Are you a creative thinker <br>
        or a logical one?</h1>

    </div>
  </div>
</div>

<div id="bg" class="jumbotron">

  <h1 class="display-4"> <em>Left-Brain Dominant</em> </h1>
  <p class="lead">
If you’re left brain dominant
 you probably like to walk through your
 learning step by step. You like resources
 that break down the information into a
 series of tasks and guide you through
  those tasks in a sensible fashion.
   You will also tend to work and learn
   well with other people who think the
    same way as you (other left brainers).

</p>
  <hr class="my-4">
  <h1 class="display-4"> <em>Right-Brain Dominant</em>  </h1>
  <p>
If you’re right brain dominant
 you will prefer to know the big picture
  as well as see examples and case studies
   of best practice. You learn well from
   observing and discussing and are happy
   to start work when only a broad goal or
    outline exists,
filling in the details as you go.</p>
  <a class="btn btn-success btn-lg" href="https://www.verywellmind.com/left-brain-vs-right-brain-2795005" role="button">Learn more</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg">
      <img style="width: 100%" src="https://i.imgur.com/Rdd3O84.gif" alt="">


    </div>
  </div>
</div>
